* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #120d0a;
}

p {
  margin: 0;
  padding: 0;
}
